# *Starting a new project for automated trading system using data from MAEVE AI Trading* (https://cfgi.io/ai-trading)

Steps 
- Connect to MAEVE API (https://cfgi-io.gitbook.io/cfgi) -> Gitbook
- Store Signgal Data
- Build Backtest for strategy analysis

In [8]:
client_id = 'TG9hbzF4U3NDelRaaFNpVWxJX0g6MTpjaQ'

In [7]:
client_secret = 'keYID7Z84t2zOUii7grFrqI3GbPuu6qw-JKBccG2SS77omwBwo'

# Install requests library to get data from MAEVE API

In [9]:
pip install requests

Requirement already satisfied: requests in /opt/anaconda3/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.11/site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.11/site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.11/site-packages (from requests) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

In [12]:
# Load Dependencies for data pull
import requests

In [13]:
url = 'https://api.cfgi.io/v1/trades' # Need to know actual endpoint

In [14]:
headers = {
    'Authorization': client_id, 
    'Content-Type': 'application/json'}

In [ ]:
# Here we makae a request called response, we will store the response as (data)
#.get is our method

response = requests.get(url, headers = headers)

In [ ]:
# Print our data or give an error if it fails send back an error 
if response.status_code == 200
    data = response.json(data)
    print(data)
else:
    print("Failed to fetch data")

In [28]:
import numpy as np

price = np.random.uniform(low=100, high=50000, size=3)
signal = np.random.choice([1, -1, 0], 3)

In [29]:
# Test that numpy puts in the correct number of array
signal

array([-1, -1, -1])

In [31]:
# Here we enter some sample data because can't access API, we use np for a random number array of prices

data = {
    'datetime': [1,2,3],
    'symbol': ['eth', 'btc', 'ltc'],
    'price': price,
    'signal': signal
}

In [33]:
print(data)

{'datetime': [1, 2, 3], 'symbol': ['eth', 'btc', 'ltc'], 'price': array([ 2908.86443476, 35732.16278251, 40886.84866601]), 'signal': array([-1, -1, -1])}

In [34]:
# Convert Data into data frame with pandas (import pandas here)
import pandas as pd

In [35]:
# Convert Data into Dataframe we call dataframes df usually
df = pd.DataFrame(data)

In [39]:
# we can now save our dataframe into a Json file to use it in another file
df.to_json('data.json', orient='records', lines=True)

In [40]:
df

   datetime symbol         price  signal
0         1    eth   2908.864435      -1
1         2    btc  35732.162783      -1
2         3    ltc  40886.848666      -1

In [41]:
df.set_index('datetime', inplace =True)

In [42]:
df

         symbol         price  signal
datetime
1           eth   2908.864435      -1
2           btc  35732.162783      -1
3           ltc  40886.848666      -1

In [43]:
df.to_json('data.json')

# *we finished working with the Maeve Data and can now import this data in a different File